{% extends 'base.html.twig' %}

{% block title %}Mes avis{% endblock %}

{% block body %}

    <div class="ratePage">

        <div class="rate1">
            
        </div>

        <div class="rate2">
        
        </div>
    
    </div>

{% endblock %}