{% extends 'base.html.twig' %}

{% block title %}Mes avis{% endblock %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

    <div class="ratePage">

        <div class="rate1">
            
        </div>

        <div class="rate2">
        
        </div>
    
    </div>

{% else %}

    <script>window.location.href = '{{path('login')}}';</script>

{% endif %}

{% endblock %}