{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}

<div class="servAll">

    <div class="formule">
        <h2>72 mois</h2>

        <h4>Pourquoi souscrire un contrat de leasing sur 72 mois ?</h4>

        <p class="formuleText">  
        Selon les cas, la durée de location s’étale de <span class="spanColor"> 24 à 48 mois </span>, mais elle peut courir au-delà, <span class="spanColor">à 72 mois</span>.<br>
        A cette durée sont associés des plafonds de kilométrage qui ne peuvent être dépassés sans pénalités<br><br>

        En optant pour une Location sur<span class="spanColor"> 72 mois</span>, le nombre de loyers versés sera conséquent ce qui aura pour<br>
        effet de réduire la valeur résiduelle correspondant à la somme qu’il reste à payer dans l’hypothèse<br>
        où le locataire exerce l’option d’achat. Cela lui laisse également<br>
        le temps de tester le véhicule et de profiter de ses options.<br><br>

        <span class="spanLittle">
        Il est possible de souscrire un contrat de Location sur plus de 4 ans.
        Toutefois, si vous n’êtes pas sûr que le modèle loué vous convienne,<br>
        il est conseillé de s’engager sur une durée moins longue afin d’éviter l’application
        de frais supplémentaires liés à une éventuelle résiliation anticipée.</span>
        </p>
        
    </div>

    <div class="formule">
        <h2>2 Ans</h2>

        <h4>Pourquoi souscrire un contrat de leasing sur 2 ans ?</h4>

        <p class="formuleText">  
        Selon les cas, la durée de location s’étale de <span class="spanColor"> 24 à 48 mois </span>, mais elle peut courir au-delà, <span class="spanColor">à 2 Ans</span>.<br>
        A cette durée sont associés des plafonds de kilométrage qui ne peuvent être dépassés sans pénalités<br><br>

        En optant pour une Location sur<span class="spanColor"> 2 ans</span>, le nombre de loyers versés sera conséquent ce qui aura pour<br>
        effet de réduire la valeur résiduelle correspondant à la somme qu’il reste à payer dans l’hypothèse<br>
        où le locataire exerce l’option d’achat. Cela lui laisse également<br>
        le temps de tester le véhicule et de profiter de ses options.<br><br>

        <span class="spanLittle">
        Il est possible de souscrire un contrat de Location sur plus de 4 ans.
        Toutefois, si vous n’êtes pas sûr que le modèle loué vous convienne,<br>
        il est conseillé de s’engager sur une durée moins longue afin d’éviter l’application
        de frais supplémentaires liés à une éventuelle résiliation anticipée.</span>
        </p>

    </div>

    <div class="formule">
        <h2>4 Ans et +</h2>

        <h4>Pourquoi souscrire un contrat de leasing sur 4 ans ?</h4>

        <p class="formuleText">  
        Selon les cas, la durée de location s’étale de <span class="spanColor"> 24 à 48 mois </span>, mais elle peut courir au-delà, <span class="spanColor">à 4 ans</span>.<br>
        A cette durée sont associés des plafonds de kilométrage qui ne peuvent être dépassés sans pénalités<br><br>

        En optant pour une Location sur<span class="spanColor"> 4 ans</span>, le nombre de loyers versés sera conséquent ce qui aura pour<br>
        effet de réduire la valeur résiduelle correspondant à la somme qu’il reste à payer dans l’hypothèse<br>
        où le locataire exerce l’option d’achat. Cela lui laisse également<br>
        le temps de tester le véhicule et de profiter de ses options.<br><br>

        <span class="spanLittle">
        Il est possible de souscrire un contrat de Location sur plus de 4 ans.
        Toutefois, si vous n’êtes pas sûr que le modèle loué vous convienne,<br>
        il est conseillé de s’engager sur une durée moins longue afin d’éviter l’application
        de frais supplémentaires liés à une éventuelle résiliation anticipée.</span>
        </p>
    </div>

</div>

{% endblock %}
