{% extends 'base.html.twig' %}

{% block title %}Faq{% endblock %}

{% block body %}
 <div class="container" style="color: white">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h3>Foire Aux Questions :</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <h5>De quoi ai-je besoin pour louer une voiture ? :</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p>"Pour réserver votre véhicule, vous n'avez besoin que : d'une carte de crédit ou de débit.
Votre bon/evoucher, pour montrer que vous avez déjà réglé le véhicule.
La carte de crédit/débit du conducteur principal, avec suffisamment de fonds disponibles pour permettre de bloquer le dépôt de garantie de la voiture.
Le permis de conduire valide et complet de chaque conducteur, obtenu depuis au moins 12 mois (parfois 24).
Votre passeport ou carte d'identité que la société de location a besoin de voir."</p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <h5>Quel est l'âge requis pour louer un vehicule ? :</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p>"Pour la plupart des sociétés de location de voitures, l'âge requis est entre 21 et 70 ans. Si vous avez moins de 25 ans ou plus de 70 ans, vous pourriez avoir à payer un supplément."</p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <h5>Comment puis-je trouver la location de voiture la moins chère ? :</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p>"Nous travaillons avec toutes les grandes enseignes de location de voitures internationales (et beaucoup de petites entreprises locales) pour vous offrir un grand choix de véhicules au meilleur prix. C'est ainsi que nous pouvons vous trouver des offres de location de voitures dans plus de 60 000 destinations dans le monde. Pour comparer les tarifs et trouver votre véhicule idéal à un prix imbattable, il suffit d'utiliser notre formulaire de recherche."</p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <h5>Tous les frais sont-ils inclus dans le prix de location ? :</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p>"La grande majorité de nos locations comprennent la protection en cas de vol, la couverture partielle en cas de collision (CDW), les taxes locales, les taxes d'aéroport et les taxes routières. Vous aurez à payer pour tout service additionnel lors de la prise en charge de votre voiture, comme par exemple les frais de jeune conducteur, de conducteur supplémentaire ou d'abandon - mais nous vous préciserons toujours combien cela vous coûtera avant de confirmer la réservation de votre véhicule (prendre vos propres sièges enfant ou GPS peut vous aider à réduire le coût de votre location). Pour plus de détails sur ce qui est inclus, il suffit de vérifier les conditions de vente de la voiture qui vous intéresse."</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
        <h5>Plus de questions? <a href="#">Contactez-nous</a></h5>
        </div>
    </div>
{% endblock %}
