{% extends 'base.html.twig' %}

{% block body %}


    <div class="resaTop">

        <button onclick="window.location.href = '{{path('member_page')}}';" class="updateBackBtn2" ><i class="fas fa-arrow-left"></i></button>

    </div>

<div class="comfirmDelete">

    <div class="deleteBox">

    <p class="deleteText">Etes-vous sûr de vouloir annuler la location n° <span class="spanColor">{{contract.numeroContrat}}</span>?</p>
    {{form(form)}}

    </div>

</div>

{% endblock %}
