{% extends 'base.html.twig' %}
{% block body %}
   
{{ form_start(form) }}

{{ form_row(form.password.first) }}
{{ form_row(form.password.second) }}
<button type='submit'>Modifier le mot de passe</button>
{{ form_end(form) }}


{% endblock %}
